/* map.css */

.carte{
	position: absolute;
	top:0;
	left:0;
}


.city_label:hover {
	z-index:10000;
}

.city_label a{
	padding:3px;
	background-color: white;
	font-family: helvetica_serif;
	letter-spacing: 0.09em;
	font-size: 8pt;
	text-transform: uppercase;
	color: red;
	border:1px solid red;
}

.city_label a:hover{
	color:white;
	background-color: red;
}

.city_current a{
	color: blue;
	border:1px solid blue;
}
.city_current a:hover{
	background-color: blue;
}
