/* map.css */

#carte{
	position: fixed;
	top:0;
	left:0;
}
#labels{
	position: fixed;
	top:0;
	left:0;
}

.city_label:hover {
	z-index:10000;
}

.city_label a{
	padding:3px;
	background-color: white;
	font-family: helvetica_serif;
	letter-spacing: 0.09em;
	font-size: 8pt;
	text-transform: uppercase;
	color: #fc264a;
	border:1px solid #fc264a;
}

.city_label a:hover{
	color:white;
	background-color: #fc264a;
}

.city_current a{
	color: #18959a;
	border:1px solid #18959a;
}
.city_current a:hover{
	background-color: #18959a;
}
