/* menu_top.css */

/*#menu_top{
	position:fixed;
	top:5px;
	background-color:white;
}*/

#sow_player{
	position:absolute;
	z-index:13;
	right:0;
	top:0;
	height: 57px;
	color:#FC264A;
	background-color:white;
	border-left: 1px solid #18959A;
	padding-left: 21px;
	padding-top: 30px;
	padding-right: 20px;

}
#sow_label{
	font-family:helvetica_serif;
	text-transform: uppercase;
	text-align: center;
	font-size:9pt;
	line-height:20pt;
}
.sow_track_title{
	font-family:free_sans;
	font-size:12pt;
	color:#FC264A;
}
a.sow_by{
	color:white;
	background-color:#FC264A;
	
}
a.sow_by:hover{
	color:#FC264A;
	background-color:white;
}
.jp-current-time, .jp-duration{
	font-family:helvetica_serif;
	font-size:80%;
}
.jp-play, .jp-pause{
	vertical-align:text-bottom;
}
/*#sow_player_outer:hover{
	border:1px solid;
	padding:4px;
	right:0px;
	top:0px;
}
#sow_player_outer:hover #sow_player{
	border:1px solid;
	padding:4px;
}
#sow_player_outer:hover .sow_details{
	display:block;
}*/

#latest_news {
	font-size:10pt;
	font-family:free_sans;
	letter-spacing: 0.09em;
	margin: 0px 0px 10px 0px;
	}
	
#latest_news span {
	padding: 3px 7px;
	border:1px solid white;
	}

.news-active{
	color:white;
	background-color:#FC264A;
	font-size:130%;
}

#newsContent{
	position:absolute;
	top:109px;
	right:0;
	max-width:250px;
	z-index:9;
	color:white;
	background-color:#FC264A;
	font-size:12pt;
	font-family:helvetica_serif;
	padding:12px 12px 12px 12px;
}

#newsContent a{
	color:white;
}

#menu_navigation{
	 position: fixed;
	 top:10;
	 left:35;
}

#menu_navigation a.arrows{
	color:grey;
	font-family: free_sans;
	font-size: 12pt;
	line-height: 16pt;
	}

#menu_item{
	position: fixed;
	z-index:11;
	top: 50px;
	left: 35px;
	font-family: helvetica_serif;
	color:#fc264a;
	font-size: 9pt;
	line-height: 42px;
	height: 37px;
	letter-spacing: 0.09em;
	text-align: left;
	width: 90%;
	margin-left: auto; 
	margin-right: auto;
	text-transform:uppercase;
	padding:  0 0 0 2%;
/* 	background-color:white; */
	background:white ;
	border-bottom: 1px solid #18959A;
	border-left: 1px solid #18959A;
	border-right: 1px solid #18959A;
	text-align:left;
	}
	
#menu_item_about{
	color:#fc264a;
	font-size: 9pt;
	line-height: 42px;
	height: 37px;
	letter-spacing: 0.09em;
	text-align: left;
	width: 90%;
	margin-left: auto; 
	margin-right: auto;
	text-transform:uppercase;
	padding:  0 0 0 2%;
/* 	background-color:white; */
	background:white ;

	text-align:left;
	}
	
#menu_item span{
	padding: 0px 20px;
	cursor:pointer;
	}
	
	
.extra_menu_item{
	color:yellow;
	}
	
.menu_item_active {
	color:#18959A;
	}
	
	
	
	
		  	
#menu_index {
	position: fixed;
	z-index:12;
	top: 104px;
	left: 35px;
	width:90%;
	font-family: helvetica_serif;
	font-size: 8pt;
	line-height: 10pt;
	letter-spacing: 0.09em;
	padding: 30px 0 20px 2%;
	background-color:#F0F0F0;
	background-color:white;
	border:solid 1px #18959A;
	}
	
	
#menu_index  .menu_base{
	display:block;
	color:black;
	font-family: free_sans;
	padding: 5px 25px 5px 0px;
	
	} 
	
#menu_index  .menu_base p{
	display:block;
	color:#18959A;
	font-family: free_sans;
	padding: 5px 25px 5px 0px;
	
	}
	
#menu_index  .menu_base:hover p{
	display:block;
	color:grey;
	font-family: free_sans;
	padding: 5px 25px 5px 0px;
	
	}

#menu_index a.menu_base:hover { 
	text-decoration:none;
	color:grey;
} 

#menu_index .menu_category{
	color:black;
	font-family: free_sans;
	font-weight: bold;
	font-size: 10pt;
	line-height: 15pt;
	padding: 0px 0px 0px 0px;
	}

#menu-logi{
	position: fixed;
	right: 0;
	top:0;
	}



div.index_col {
	float:left;
	width:13%;
	}
	
div.writings_index_col{
	float:left;
	width:250px;
}
	
.menu_page_nav_box{
	position:absolute;
	top:0;
	right:0;
	padding:4pt;
	border-left:1px solid #18959a;
	border-bottom:1px solid #18959a;
	
}
.menu_page_nav {
/*	display:inline;*/
	color:#18959a;
	font-family: free_sans;
	font-weight: bold;
	font-size: 10pt;
	line-height: 10pt;
	padding: 5px 5px 5px 0px;
	margin-right:12px;
	cursor:pointer;
	}

/* style du tableau */


table.sample td{	
	border-radius: none;
	-moz-border-radius: none;
	width:15px;
/*	background-color: yellow;*/
}

.year_row {
	font-family: free_sansBold;
	font-size: 9pt;
	color:#fc264a;
	height:20px;
	padding: 5px 0px 5px 13px;
}

.month_row {
	font-family: helvetica_serif;
	font-size: 10pt;
	color:black;
	height:5px;
	padding: 0px 30px 0px 5px;
	text-align:left;
	border-left:1px solid #fc264a;
	height:10px;
}

.month_row_bis {
	font-family: helvetica_serif;
	font-size: 10pt;
	color:black;
	height:5px;
	padding: 0px 30px 0px 5px;
	text-align:left;
	height:10px;
}

.month_column {
	background-color: #686868;
}
	
.workshop_row {
	font-family: free_sans;
	letter-spacing: 0.1em;
	font-size: 9pt;
	text-transform: uppercase;
	color:black;
	padding: 5px 5px;
	height:7px;
}

.workshop_column {
	background-color: #FF6600;
}

.webproject_row{
	font-family: free_sans;
	font-weight:bold;
	letter-spacing: 0.09em;
	font-size: 10pt;
	text-transform: uppercase;
	color:white;
}

.event_name_row {
	font-family: free_sans;
	font-weight:bold;
	font-size: 12pt;
	color:black;
	text-align:left;
	padding: 5px 5px;
	height:7px;
}
.presentation_row {
	font-family: helvetica_serif;
	font-size: 10pt;
	line-height: 12pt;
	color:#fc264a;
	text-align:left;
	padding: 0px 0px 15px 0px;
	height: 7px;
	vertical-align:top;
}

.presentation_row a {
	font-family: helvetica_serif;
	font-size: 10pt;
	line-height: 12pt;
	color:#fc264a;
	text-align:left;
	padding: 0px 0px 15px 0px;
	height: 7px;
	vertical-align:top;
}

.presentation_row a:hover{
	text-decoration: none;
	color:#18959A;
}

.pattern_row {
	font-family: free_sans;
	font-weight:bold;
	letter-spacing: 0.09em;
	font-size: 10pt;
/*	color:black;*/
	text-align:center;
/*	border-left:1px solid black;*/
	height:15px;
}

.event_name_column {
	background-color: #0066CC;
}

#timeline_box {
	height: 380px;
	}
	
#bando {
	position: fixed;
	top: 0px;
	left:35px;
	height: 49px;
	background-color: white;
	padding:  0 0 0 2%;
	border-bottom: solid 1px #18959A;
	border-left: 1px solid #18959A;
	border-right: 1px solid #18959A;
	z-index: 12;
	width: 90%;
	}	
	
#bando_logo1 {
	position: fixed;
	top: 8px;
	}
	
#bando_logo2 {
	position: fixed;
	top: 8px;
	left: 325px;
	}
	


.wave{background-image:url("img/wave.png")}
.krol{background-image:url("img/krol.png")}
.chevron{background-image:url("img/chevron.png")}
.vignette{background-image:url("img/vignette-2-small.png");}
.curl{background-image:url("img/curl.png")}
.sinuz{background-image:url("img/sinuz.png")}
.losange{background-image:url("img/losange.png")}
.oval{background-image:url("img/oval.png"); background-repeat:no-repeat; height:18px;}
