/* menu_top.css */

/*#menu_top{
	position:absolute;
	top:5px;
	background-color:white;
}*/

#menu_navigation{
	 position: absolute;
	 top:10;
	 left:35;
}

#menu_navigation a.arrows{
	color:grey;
	font-family: free_sans;
	font-size: 12pt;
	line-height: 16pt;
	}

#menu_item{
	position: absolute;
	z-index:1000;
	top: 0;
	left: 0px;
	font-family: helvetica_serif;
	font-size: 10pt;
	line-height: 16pt;
	letter-spacing: 0.09em;
	text-align: left;
	width: 100%;
	margin-left: auto; 
	margin-right: auto;
	text-transform:uppercase;
	padding: 15px 15px 5px 15px;
	background-color:white;
	border-bottom: 1px solid black;
	}
	
#menu_item span{
	padding: 0px 20px;
	cursor:pointer;
	}
	
#menu_index {
	position: absolute;
	z-index:1000;
	top: 42px;
	left: 0px;
	width:100%;
	font-family: helvetica_serif;
	font-size: 8pt;
	line-height: 10pt;
	letter-spacing: 0.09em;
	padding: 40px 0px 20px 35px;
	background-color:#F0F0F0  ;
	}
	
	
#menu_index  a.menu_base{
	display:block;
	color:grey;
	font-family: free_sans;
	padding: 5px 25px 5px 0px;
	
	} 

#menu_index a.menu_base:hover { 
	text-decoration:none;
	color:#484848;
} 

#menu_index .menu_category{
	color:grey;
	font-family: free_sansBold;
	font-size: 10pt;
	line-height: 15pt;
	padding: 0px 0px 0px 0px;
	}


#menu_index span {
	float:left;
	width:190px;
	}

/* style du tableau */

table.sample td{	
	border-radius: none;
	-moz-border-radius: none;
	width:15px;
}

.year_row {
	font-family: free_sans;
	font-size: 9pt;
	color:gray;
	height:10px;
	padding: 5px 0px;
}

.month_row {
	font-family: helvetica_serif;
	font-size: 9pt;
	color:black;
	height:5px;
	padding: 5px 20px;
	text-align:center;
	border-left:1px solid black;
	height:10px;
}

.month_column {
	background-color: #686868;
}
	
.workshop_row {
	font-family: free_sans;
	letter-spacing: 0.1em;
	font-size: 9pt;
	text-transform: uppercase;
	color:black;
	padding: 5px 5px;
	height:7px;
}

.workshop_column {
	background-color: #FF6600;
}

.webproject_row{
	font-family: free_sansBold;
	letter-spacing: 0.09em;
	font-size: 10pt;
	text-transform: uppercase;
	color:white;
}

.event_name_row {
	font-family: free_sansBold;
	font-size: 12pt;
	color:black;
	text-align:left;
	padding: 5px 5px;
	height:7px;
}
.presentation_row {
	font-family: free_sans;
	font-size: 12pt;
	color:black;
	text-align:left;
	padding: 5px 5px;
	height: 7px;

}

.pattern_row {
	font-family: free_sansBold;
	letter-spacing: 0.09em;
	font-size: 10pt;
	color:black;
	text-align:center;
	border-left:1px solid black;
	height:15px;
}

.event_name_column {
	background-color: #0066CC;
}

.wave{background-image:url("img/wave.png")}
.krol{background-image:url("img/krol.svg")}
.chevron{background-image:url("img/chevron.png")}
.vignette{background-image:url("img/vignette-2-small.png")}
.curl{background-image:url("img/curl.svg")}
