/* SOE stylesheet */

@font-face {
  font-family:helvetica_serif;
  src:url("OSP_helvetica_serif.ttf");
}

@font-face {
  font-family:free_sans;
  src:url("FreeSans.ttf");
}

@font-face {
  font-family:free_sansBold;
  src:url("FreeSansBold.ttf");
}

*{
	border:none;
	margin:0;
	padding:0;
}

