/* SOE stylesheet */

@font-face {
  font-family:helvetica_serif;
  src:url("OSP_helvetica_serif.ttf");
}

@font-face {
  font-family:free_sans;
  src:url("FreeSans.ttf");
}

@font-face {
  font-family:free_sansBold;
  src:url("FreeSansBold.ttf");
}

@font-face {
  font-family:Fanwood;
  src:url("Fanwood.otf");
}
*{
	border:none;
	margin:0;
	padding:0;
}

/* Liens */ 
a { 
  text-decoration: none; 
} 
a:link { 
  color: black; 

} 
a:visited { 
  color: black; 
} 
a:hover { 
  color: grey; 

} 

body{
	border-bottom:1px solid #666;
}