/* writings.css */



/* communs à l'index et aux textes */
.menu_writings_wrapper{
	padding:0 .5em;
}
 .writings_titre{
	font-family: free_sansBold;
	font-size: 15pt;
	line-height: 17pt;
	padding: 15px 0px 5px 0px;
	}
 .writings_author{
	color: black;
	font-family: helvetica_serif;
	font-size: 11pt;
	padding: 0px 0px 10px 0px;
	}
.writings_excerpt{
	color:black;
	font-family: free_sans;
	font-size: 10pt;
	line-height: 12pt;
	padding: 0px 0px 0px 0px;
	}
.writings_day{
	color: grey;
	font-family: free_sans;
	font-size: 11pt;
	padding: 0px 0px 5px 0px;
	}



/* writings-index */


#index_outer {
     background-color: #FFFFFF;
     border: none;
     left: 50px;
     position: absolute;
     top: 20px;
     width: 980px;
}


#colonne-index_2 {
	float:left;
	width:250px;
	padding: 0px 30px 5px 0px;
	}
	
#colonne-index_3 {
	float:left;
	width:250px;
	padding: 0px 30px 5px 0px;
}

#writing_outer  {
	font-size: 28pt;
	line-height: 20pt;
	padding: 20px 0px 5px 0px;
	}
	
	
#menu_index a.menu_writings{
}
	
#menu_index .writings_titre > a.menu_writings{
	color: grey;
	}
	
#menu_index .writings_titre > a.menu_writings:hover{
	color: red;
	text-decoration: none;
	}
	
#menu_index .writings_author > a.menu_writings{
	color: black;
	}
	
#menu_index .writings_author > a.menu_writings:hover{
	text-decoration:underline;
	}
	
	
#menu_index .menu_writings_wrapper:hover .writings_excerpt{
	color: red;
	}
#menu_index .menu_writings_wrapper:hover .writings_titre a{
	color: red;
	}
	

	
/* writings textes.css */

.all {
	position: absolute;
     top: 0px;
     left: 0px;
     width: 1200px;
     background-color: #696969;
}

#writing_outer {
  margin-top:56px;
}
#colonne-writings_1 {
	float:left;
	width:500px;
	margin-left: 50px;
}
#colonne-sommaire {
	float:left;
	width:200px;
	margin-left: 30px;
	margin-top: 80px;
}
 .writings_titre-in{
	color:black;
	font-family: free_sansBold;
	font-size: 15pt;
	line-height: 17pt;
	padding: 15px 0px 5px 0px;
	}
	
#writing_content p{
	color: white;
	font-family: Fanwood;
	font-size: 16pt;
	line-height: 20pt;
	text-indent: 15px;
	padding: 0 0 0 40px;
	margin: 0 0 0 0;
	}
#writing_content p:first-child{
	color: white;
	font-family: Fanwood;
	font-size: 16pt;
	line-height: 20pt;
	text-indent: 0px;
	padding: 0 0 0 40px;
	margin: 0 0 0 0;
	}
	
.writings_1{
	color: white;
	font-family: helvetica_serif;
	font-size: 18pt;
	line-height: 21pt;
	padding: 30px 0px 10px 0px;
	}
.writings_1 a:link{
	color: white;
	font-family: helvetica_serif;
	font-size: 18pt;
	line-height: 21pt;
	text-indent: -15px;
	padding: 30px 0px 10px 0px;
	}
.writings_2{
	color: white;
	font-family: helvetica_serif;
	font-size: 12pt;
	padding: 15px 0px 5px 0px;
	}
	
.writings_sommaire{
	font-family: free_sansBold;
	font-size: 12pt;
	line-height: 17pt;
	padding: 15px 0px 5px 0px;
	}
.writings_sommaire a:link{
	color: grey; 
	font-family: free_sansBold;
	font-size: 12pt;
	line-height: 17pt;
	padding: 0 0px 5px 0px;
	margin-bottom: 15px;
	}

.writings_txt-up{
	font-family: helvetica_serif;
	color: white;
	text-transform: uppercase;
	font-size: 9pt;
	line-height: 17pt;
	padding: 30px 0px 15px 0px;
	}

.writings_picture{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0px 15px 0px;
	}





