/* writings.css */



#writing_outer  {
	font-size: 28pt;
	line-height: 20pt;
	padding: 40px 0px 5px 0px;
	}
	
	
#menu_index a.menu_writings{
}
	
#menu_index .writings_titre > a.menu_writings{
	color: grey;
	}
	
#menu_index .writings_titre > a.menu_writings:hover{
	color: red;
	text-decoration: none;
	}
	
#menu_index .writings_author > a.menu_writings{
	color: black;
	}
	
#menu_index .writings_author > a.menu_writings:hover{
	text-decoration:underline;
	}
	
	
#menu_index .menu_writings_wrapper:hover .writings_excerpt{
	color: red;
	}
#menu_index .menu_writings_wrapper:hover .writings_titre a{
	color: red;
	}
	
	
	
 .writings_titre{
	font-family: free_sansBold;
	font-size: 15pt;
	line-height: 17pt;
	padding: 15px 0px 5px 0px;
	}
 .writings_titre-in{
	color:red;
	font-family: free_sansBold;
	font-size: 15pt;
	line-height: 17pt;
	padding: 15px 0px 5px 0px;
	}
	
 .writings_author{
	color: black;
	font-family: helvetica_serif;
	font-size: 11pt;
	padding: 0px 0px 10px 15px;
	}
	
.writings_excerpt{
	color:black;
	font-family: free_sans;
	font-size: 10pt;
	line-height: 12pt;
	padding: 0px 0px 0px 0px;
	}
	
.writings_day{
	color: grey;
	font-family: free_sans;
	font-size: 11pt;
	padding: 0px 0px 5px 0px;
	}
	
.writings_txt{
	color: black;
	font-family: free_sans;
	font-size: 12pt;
	line-height: 16pt;
	padding: 0px 0px 5px 0px;
	}

.writings_1{
	color: black;
	font-family: helvetica_serif;
	font-size: 15pt;
	padding: 15px 0px 5px 0px;
	text-align:center;
	}

.writings_2{
	color: black;
	font-family: free_sansBold;
	font-size: 12pt;
	padding: 15px 0px 5px 0px;
	}
	
.writings_sommaire{
	color: red;
	font-family: free_sans;
	font-size: 12pt;
	padding: 0px 0px 5px 0px;
	}


#colonne-index_1 {
	float:left;
	width:250px;
padding: 0px 30px 5px 0px;

	}
	
#colonne-index_2 {
	float:left;
	width:250px;
padding: 0px 30px 5px 0px;

	}
	
#colonne-index_3 {
	float:left;
	width:250px;
	padding: 0px 30px 5px 0px;
}

#colonne-writings_1 {
	float:left;
	width:500px;
}
#colonne-writings_2 {
	float:left;
	width:200px;
	padding: 0px 0px 5px 20px;
}

#index_outer {
     background-color: #FFFFFF;
     border: none;
     left: 50px;
     position: absolute;
     top: 20px;
     width: 980px;
}

#writing_outer {
     background-color: #FFFFFF;
     border: none;
     left: 50px;
     position: absolute;
     top: 20px;
     width: 980px;
}

#writing {
     margin: 2px;
     padding: 0px;
}
	
	